//FONTS
@import url("https://fonts.googleapis.com/css?family=Karla");
$karla-font: "Karla", sans-serif;
//COLORS
$white: rgb(247, 247, 247);
$red: rgb(185, 43, 39);
$black: rgb(51, 51, 51);
$gray: rgb(148, 148, 148);
$yellow: rgb(251, 219, 116);
